/performance_recorder_files
/build
src\third_party\CL\OpenCL.lib
benchmark_info.txt
/queries
/datasets
/deterministic_datasets
/src/third_party/vulkan
/cmake_build
/testing/datasets
/testing/gdb_data
/testing/gdb_logs
/testing/kernel_cache
/testing/queries
testing/log.txt
testing/gdb.exe
